@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

:root {
    --media-size: calc(100vw / 1440);
    --main-background-color: #FFF0F5;
    --background-button-color: #FFF0F5;
    --calculator-color: #2F4F4F;
    --font-color-header: #FFF0F5;
    --font-color-input: #696969;
    --font-color-placeholder: #A9A9A9;
    --font-color-button: #2F4F4F;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--main-background-color);
    font-family: 'Roboto Mono', monospace;
}

input {
    outline: solid rgba(#FF8C00, 0.6);
    resize: none;
    border: none;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 700;
    color: var(--font-color-input);
}

input::placeholder {
    color: var(--font-color-placeholder);
    text-align: center;
    font-weight: 400;
}

.calculator {
    width: 30%;
    height: 30%;
    margin: 5% auto;
    background-color: var(--calculator-color);
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.calculator-form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    /* column-gap: 100px; */
    justify-content: space-evenly;
    margin: auto;
    padding: 20% 10%;
}

.calculator-form__header {
    font-size: 36px;
    font-weight: 700;
    color: var(--font-color-header);
}

.calculator-form__first-operand-input {}

.calculator-form__operator-input {}

.calculator-form__second-operand-input {}

.calculator-form__result-calculation {
    height: 100px;
    width: 100%;
    margin-top: 15%;
    padding: 15px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--font-color-header);
}

.calculator-form__result-button {
    width: 70%;
    height: min(70px, 25%);
    outline: solid rgba(#FF8C00, 0.6);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 700;
    color: var(--font-color-button);
    line-height: 30px;
}

.footer {
    margin-top: 5%;
    padding-left: 10%;
    font-size: 24px;
    font-weight: 400;
    color: var(--calculator-color);
}