@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: aliceblue;
    font-family: 'Oswald', sans-serif;
}

.header__main-header {
    margin-left: 5vw;
    text-align: center;
    top: 5%;
    font-size: 24px;
    font-weight: 600;
    color: orange;
    width: 90vw;
    min-width: 400px;
    height: auto;
    border-radius: 0px 20px 20px 0px;
    background-color: rgb(107, 123, 225);
}

.header__picture {
    position: absolute;
    left: 15%;
    height: 30px;
}

.adress-book {
    display: flex;
    flex-direction: row;
    row-gap: 5vw;
}

.adress-book__left-side-section {
    position: sticky;
    top: 25vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 10vw;
    min-width: 70px;
    height: 50vh;
    min-height: 300px;
    border-radius: 0px 20px 20px 0px;
    padding: 10px 0px;
    text-align: center;
    background-color: rgb(107,123,225)
}
.adress-book__left-side-section::-webkit-scrollbar {
    width: 0;
}

.adress-book__link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: orange;
}

.adress-book__link:hover{
    font-size: 24px;
    font-weight: 600;
    color: orangered;
}

.adress-book__common-list {
    margin: 5vw;
    position: relative;
}

.adress-book__letter {
    margin-bottom: 10px;
    width: calc(100vw - 5vw - 10vw - 5vw - 5vw);
    min-width: 300px;
    background-color: aliceblue;
}

.letter__header-letter {
    margin: 0;
    padding: 0;
    color: orange;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(107,123,225);
    border-radius: 0px 20px 20px 0px;
    position: sticky;
    top: 0;
}

.letter__surname {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 300;
}

.footer {
    position: fixed;
    bottom: 15px;
    height: auto;
    left: 5%;
    text-align: left;
}
