@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --change-media-size: calc(100vw / 1440);
  --color-background-main: #1B2473;
  --color-background-form: #FFFFFF;
  --color-text: #787878;
  --color-border-input-entrance: #787878;
  --color-input-label: #CCCCCC;
  --color-buttom-entrance-background: #1A226B;
  --color-buttom-text: #FFFFFF;
}

body {
  margin: 0;
  background-color: var(--color-background-main);
}

.form-for-entrance {
  margin: calc(82 * var(--change-media-size)) auto 0 calc(412 * var(--change-media-size));
  background-color: var(--color-background-form);
  width: calc(600 * var(--change-media-size));
  height: calc(412 * var(--change-media-size));
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}

.form-body {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.form-body__entrance-header {
  text-align: center;
  margin-top: calc(23 * var(--change-media-size));
  margin-bottom: 0;
  font-size: calc(50 /1440 * 100vw);
  font-weight: bold;
  color: var(--color-text);
}

.form-body__div-for-registration {
  position: relative;
  margin-top: calc(30 * var(--change-media-size));
}
.form-body__input-for-registration {
  outline: none;
  width: calc(509 * var(--change-media-size));
  height: calc(49 * var(--change-media-size));
  border: 2px solid var(--color-border-input-entrance);
  border-radius: 10px;
 
  font-size: calc(28 * var(--change-media-size));
  font-weight: 700;
  color: var(--color-text);
  padding: calc(15 * var(--change-media-size));
}
.form-body__input-for-registration::placeholder {
  color: var(--color-input-label);
}

.form-body__label-for-registration {
  position: absolute;
  top: calc(-24 * var(--change-media-size));
  left: calc(8 * var(--change-media-size));

  font-size: calc(16 * var(--change-media-size));
  font-weight: 700;
  color: var(--color-text);

}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}
.form-body__checkbox-agreement-for-distribution {
  margin-left: calc(-200 * var(--change-media-size));
  margin-top: calc(16 * var(--change-media-size));
}
.form-body__input-checkbox-agreement-for-distribution {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form-body__label-checkbox-agreement-for-distribution {
  display: inline-flex;
  align-items: center;
  font-size: calc(14 * var(--change-media-size));
  color: var(--color-text);
}
.form-body__label-checkbox-agreement-for-distribution::before {
  content: '';
  display: inline-block;
  width: calc(24 * var(--change-media-size));
  height: calc(24 * var(--change-media-size));
  border: 2px solid var(--color-border-input-entrance);
  border-radius: 7px;
  margin-right: calc(10 * var(--change-media-size));
}
.form-body__label-checkbox-agreement-for-distribution::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: calc(24 * var(--change-media-size));
  height: calc(24 * var(--change-media-size));
  border: 2px solid var(--color-border-input-entrance);
  border-radius: 7px;
  margin-right: calc(10 * var(--change-media-size));
  background-image: url(img/check.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: calc(30 * var(--change-media-size)) calc(30 * var(--change-media-size));
  opacity: 0;
  transition: 0.2 opacity;
}

.form-body__input-checkbox-agreement-for-distribution:checked + .form-body__label-checkbox-agreement-for-distribution::after {
  opacity: 1;
}

.form-body__button-submit {
  position: absolute;
  margin-top: calc(334 / 1440 *100vw);
  text-align: center;
  width: calc(180 / 1440 *100vw);
  height: calc(52 / 1440 *100vw);
  border: none;
  border-radius: 10px;
  background-color: var(--color-buttom-entrance-background);
  color: var(--color-buttom-text);
  font-size: calc(24 / 1440 *100vw);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  :root {
    --change-media-size: calc(100vw / 768);
  }

  .form-for-entrance {
    margin: calc(20 * var(--change-media-size));
    width: calc(728 * var(--change-media-size));
    height: calc(100vh - 40px);
  }

  .form-body__entrance-header {
    font-size: calc(60 * var(--change-media-size));
    font-weight: bold;
    line-height: calc(50 * var(--change-media-size));
  }

  .form-body__div-for-registration {
    width: calc(638 * var(--change-media-size));
    margin: calc(35 * var(--change-media-size)) calc(45 * var(--change-media-size));
  }

  
}

/*# sourceMappingURL=main.css.map */