@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-background-main: #1B2473;
    --color-background-form: #FFFFFF;
    --color-text: #787878;
    --color-border-input-entrance: #787878;
    --color-input-label: #CCCCCC;
    --color-buttom-entrance-background: #1A226B;
    --color-buttom-text: #FFFFFF;
}

body {
    margin: 0;
    background-color: var(--color-background-main);
}

.form-for-entrance {
    // position: relative;
    margin-top: 82px;
    margin-left: 412px;
    background-color: var(--color-background-form);
    width: 600px;
    height: 412px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}

.form-body {
    position: relative;
    display: flex;
    flex-flow: column;
    
    &__entrance-header { 
        text-align: center;
        margin-top: 26px;
        margin-bottom: 0;
        font-size: 50px;
        font-weight: bold;
        color: var(--color-text);
    }

    &__label-for-registration {       
        font-size: 28px;
        position: absolute;
        top: 7px;
        left: 15px;
        transition-duration: 0.4s;
    }

    &__input-for-registration div {
        position: relative;
        color: var(--color-input-label)
    }

    &__input-for-registration input{  
        outline: none;
        width: 509px;
        height: 49px;
        border: 2px solid var(--color-border-input-entrance);
        border-radius: 10px;
        font-size: 28px;
        font-weight: 700;
    }

    &__label-checkbox-agreement-for-distribution {
        padding-left: 79px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: var(--color-text);
    }

    &__label-checkbox-agreement-for-distribution::before {
        content: '';
        position: absolute;
        left: 45px;
        width: 24px;
        height: 24px;
        border: 2px solid var(--color-border-input-entrance);
        border-radius: 7px;
    }
    
    &__checkbox-agreement-for-distribution {
        position: relative;
    }

    &__checkbox-agreement-for-distribution input {        
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &__checkbox-agreement-for-distribution input:checked + input::before {
        background: var(--color-border-input-entrance);
    }

    &__button-submit {
        text-align: center;
        width: 180px;
        height: 52px;
        border: none;
        border-radius: 10px;
        background-color: var(--color-buttom-entrance-background);
        color: var(--color-buttom-text);
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
    

}